.forecast-container {
  display: flex;
}

li {
  list-style-type: none;
}

#locations {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.forecast {
  margin: 1%;
}

#loadinjg